.table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
}

.table td,
.table th {
  /* max-width: 7vh; */
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table td:not(:last-child) {
  max-width: 4vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table button[type="button"] {
  display: flex;
  padding: 6px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transform: scale(1);
  transition: background-color 0.15s ease;
}

.table button[type="button"]:hover {
  transform: scale(0.99);
  background-color: #0056b3;
}

.table button[type="button"]:active {
  transform: scale(0.965);
  background-color: #004997;
  transition: 0.15s ease;
}

.buttonContainer {
  display: flex;
  position: relative;
  /* margin-bottom: 30px; */
}

.buttonDiv {
  position: relative;
  /* right: 36px; */
}

.dropdown {
  position: fixed;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: max-content;
  transform: translateY(2px);
}

.dropdown button {
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.524);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown button:hover {
  background-color: #ddd;
}

@media screen and (max-width: 920px) {
  .buttonContainer {
    display: flex;
    position: relative;
    margin-bottom: 32px;
  }

  .buttonDiv {
    position: absolute;
    right: 0px;
  }

  .table {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
    justify-content: space-between;
  }

  .table thead {
    width: 40%;
  }
  
  .table tbody {
    width: 100%;
  }

  .table th {
    background-color: #f2f2f2;
  }

  .table tr {
    display: flex;
    flex-direction: column;
  }
  
  .table td {
    /* display: flex; */
    border: none;
    position: relative;
  }

  .table td:not(:last-child) {
    border: 1px solid #ddd;
    max-width: 100%;
    width: max-content;
    text-align: right;
  }

  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table tr:hover {
    background-color: #ddd;
  }
}