#tooltip {
  display: none;
  position: absolute;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  pointer-events: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}