.question-component {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-header h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.options-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.option {
  flex: 1 1 45%;
  max-width: 45%;
  background-color: #ddd;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option.correct {
  background-color: #d4edda;
}

.option:hover {
  background-color: #ccc;
}
