.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
} */

.profile-page div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}