.close-button {
  position: absolute; /* Position the button absolutely */
  top: 2px; /* Distance from the top */
  right: 4px; /* Distance from the right */
  padding: 0px 5px;
  background: transparent; /* Transparent background */
  border: none; /* No border */
  font-size: 18px; /* Font size for the X */
  cursor: pointer; /* Pointer cursor on hover */
  color: #155724; /* Match the text color */
  transition: transform 0.15s ease, opacity 0.15s ease; /* Transition for animation */
  opacity: 0.6; /* Slightly reduce opacity on hover */
}

.close-button:hover {
  transform: scale(1.1); /* Scale up on hover */
  opacity: 0.5; /* Slightly reduce opacity on hover */
}

.close-button:active {
  transform: scale(0.8); /* Scale down on active */
  opacity: 0.3; /* Further reduce opacity on active */
}

.notification-card {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: #d4edda; /* Light green background */
  border: 1px solid #c3e6cb; /* Soft green border */
  border-radius: 12px; /* Soft rounded border */
  padding: 10px; /* Padding inside the card */
  margin: 10px 0; /* Margin around the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-family: Arial, sans-serif; /* Font family */
  color: #155724; /* Dark green text color */
}

.mainPortal p {
  font-size: clamp(14px, 2.5vw, 17px);
}

.welcomeTitle {
  position: relative;
  margin-top: 8px;
  font-size: clamp(12px, 2.5vw, 14.5px);
}

@media (max-width: 800px) {
  .welcomeTitle {
    position: relative;
    margin-top: 5.25px;
  }
}

@media (max-width: 650px) {
  .welcomeTitle {
    position: relative;
    margin-top: 14px;
  }
}