/* LeftHandNav.module.css */
.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.sidebar {
  width: 275px;
  min-width: 200px;
  box-shadow: 0px 1px 1px 0.5px rgb(111, 111, 111);
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  /* Add a z-index to ensure the sidebar is above other content */
  z-index: 1;
}

.sidebarLink {
  display: block;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #0070f3;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 0.5px solid white;
  /* Ensures the text is centered */
}

.sidebarLink:hover {
  background-color: rgb(234, 234, 234);
}

.mainContent {
  overflow-x: auto;
  border-collapse: collapse;
  flex-direction: column;
  /* Adjust this value to match the sidebar width */
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;

  margin-left: 275px;
  /* Add padding to keep content away from sidebar */
  width: calc(100% - 275px);
  /* Adjust the width to fill remaining space */
  /* Ensure main content can scroll if needed */
  overflow-y: auto;
}

/* Responsive Design */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    position: static;
    width: 100%;
  }

  .mainContent {
    margin-left: 0;
    display: flex;
    width: 100%;
    /* Adjust the width to fill remaining space */
    /* Ensure main content can scroll if needed */
    overflow-y: auto;
  }
}