@keyframes beacon {
  0%, 100% {
    r: 5;
    opacity: 0;
  }
  25% {
    r: 9;
    opacity: 0.1;
  }
  50% {
    r: 14;
    opacity: 0.3;
  }
  100% {
    r: 22;
    opacity: 0.5;
  }
}

.circle-group .beacon {
  animation: beacon 1s infinite; /* Total animation time for each cycle is 1 seconds */
  animation-timing-function: steps(50, start);
}

/* .tooltip {
  opacity: 0;
  z-index: 10;
  height: auto;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  position: fixed;
  pointer-events: none;
  border-radius: 8px;
  word-wrap: break-word;
  border: 1px solid #ddd;
  transition: opacity 0.2s;
  background: lightsteelblue;
}

.tooltip:hover {
  cursor: pointer;
}

.scoreTooltip {
  opacity: 0;
  z-index: 10;
  height: auto;
  padding: 10px;
  position: fixed;
  text-align: left;
  font-size: 12px;
  pointer-events: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: opacity 0.2s;
  background: lightcoral;
}

.scoreTooltip:hover {
  cursor: pointer;
} */