.container {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  border-radius: 8px;
  font-size: 13.85px;
  background-color: #fffb0075;
}

.header {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  background-color: #fffb0097;
}

.notice {
  padding: 12px;
  border-radius: 0px 0px 8px 8px;
}