/* ViewStudy.module.css */
.copyInviteLink {
  background-color: rgb(0, 123, 194);
  /* Primary color */
  box-shadow: 0px 2.5px 3px rgba(0, 43, 68, 0.612);
  /* Text color */
  color: white;
  /* Padding */
  padding: 4px 8px;
  /* No border */
  border: none;
  /* Rounded corners */
  border-radius: 3rem;
  /* Pointer cursor on hover */
  cursor: pointer;
  /* Font size */
  font-size: 13px;
  /* Transform scale */
  transform: scale(1);
  /* Smooth transition for background color */
  transition: background-color 0.1s ease-in-out;
}

.copyInviteLink:hover {
  /* Darker shade on hover */
  background-color: #0056b3;
  transform: scale(0.98);
  transition: 0.05s ease-in-out;
}

.copyInviteLink:active {
  transform: scale(0.955);
  transition: 0.05s ease-in-out;
  background-color: #004085;
  /* Even darker shade on click */
}

.copied {
  background-color: #28a745;
  /* Green background for copied state */
  color: white;
  /* Text color */
  cursor: default;
  box-shadow: none;
  transform: scale(1);
  /* Default cursor */
}

.copied:hover {
  transform: scale(1);
  background-color: #28a745;
  box-shadow: none;
  /* Same background color on hover */
}

.pageNav {
  display: flex;
  justify-content: right;
  position: relative;
  right: 30.5px;
  width: 100%;
  margin: 24px 0px 12px 0px;
}

.pageNav button[type="button"] {
  display: flex;
  padding: 6px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transform: scale(1);
  box-shadow: 0px 3px 4px 0.1px rgb(108, 108, 108, 0.25);
  transition: background-color 0.15s ease;
}

.pageNav button[type="button"]:hover {
  transform: scale(0.99);
  background-color: #0056b3;
}

.pageNav button[type="button"]:active {
  transform: scale(0.965);
  background-color: #004997;
  transition: 0.055s ease;
}