.tooltip {
  opacity: 0;
  z-index: 10;
  max-width: 195px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  position: fixed;
  pointer-events: none;
  word-wrap: break-word;
  border: 1px solid #ddd;
  transition: opacity 0.2s;
  background: rgba(255, 255, 255, 0.95);
}

.tooltip:hover {
  cursor: pointer;
}