.filter-button {
  width: 66px;
  background-color: rgba(0, 80, 172, 0.0514);
  border-radius: 1rem;
  border-color: rgba(0, 80, 172, 0.3514);
  border-width: 0.1px;
  height: 28px;
  font-size: clamp(9px, 1.9vw, 13px);
  color: rgb(0, 80, 172);

  box-shadow: 0px 1.5px 3px rgba(0, 43, 68, 0.212);

  transform: scale(1);

  transition: 0.05s ease-in-out;
}

.filter-button:hover {
  background-color: rgba(0, 80, 172, 0.1514);
  transform: scale(0.98);
  transition: 0.05s ease-in-out;
  cursor: pointer;
}

.filter-button:active {
  background-color: rgba(0, 80, 172, 0.0714);
  transform: scale(0.955);
  transition: 0.05s ease-in-out;
}

@keyframes beacon {
  0%, 100% {
    r: 5;
    opacity: 0;
  }
  25% {
    r: 9;
    opacity: 0.1;
  }
  50% {
    r: 14;
    opacity: 0.3;
  }
  100% {
    r: 22;
    opacity: 0.5;
  }
}

.circle-group .beacon {
  animation: beacon 1s infinite; /* Total animation time for each cycle is 1 seconds */
  animation-timing-function: steps(50, start);
}

/* .tooltip {
  opacity: 0;
  z-index: 10;
  height: auto;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  position: fixed;
  pointer-events: none;
  border-radius: 8px;
  word-wrap: break-word;
  border: 1px solid #ddd;
  transition: opacity 0.2s;
  background: lightsteelblue;
}

.tooltip:hover {
  cursor: pointer;
}

.scoreTooltip {
  opacity: 0;
  z-index: 10;
  height: auto;
  padding: 10px;
  position: fixed;
  text-align: left;
  font-size: 12px;
  pointer-events: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: opacity 0.2s;
  background: lightcoral;
}

.scoreTooltip:hover {
  cursor: pointer;
} */