.navTitle {
  display: flex;
  justify-content: left;
  align-items: left;
  transition: 0.11s;
}

.navTitle:hover {
  transform: scale(0.96);
  transition: 0.11s;
}

.navTitle:active {
  transform: scale(0.91);
  transition: 0.11s;
}

.navImage {
  opacity: 1;
  transition: 0.35s ease-in-out;
}

.navImageSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  backdrop-filter: blur(18px);

  padding: 0.5rem 0.5rem 0.25rem 0.5rem;

  grid-template-columns: 1fr 1fr 1fr;
}